@import '../../styles/mixins';
@import '../../styles/settings';

.heading {
  display: flex;
  justify-content: center;
}

.carouselContainer {
  margin-left: -35px;
  overflow: hidden;

  @include media-max($sm-break) {
    margin-left: -10px;
  }
  @include media-max($l-break) {
    margin-left: -20px;
  }
}

.slider {
  padding: 90px 0 60px 15px;
  display: flex;
  transition: $transition;

  @include media-max($sm-break) {
    padding: 60px 20px;
  }
  @include media-max($l-break) {
    //padding: 60px 20px;
  }
}

.buttons {
  display: flex;
  gap: 23px;
  justify-content: flex-end;
  margin-bottom: 160px;

  & > * {
    fill: #4DA0FD;

    &:nth-child(2) {
      transform: rotate(180deg);
    }
  }

  button {
    display: flex;

    &:disabled .arrowBtn {
      fill: #DADADA;
    }
  }
}

.arrowBtn {
  fill: #4DA0FD;
}