@import '../../styles/mixins';
@import '../../styles/settings';

.container {
  font-family: 'Mulish', sans-serif;
  color: #000000;
  margin-bottom: 160px;

  @include media-max($md-break) {
    margin-bottom: 100px;
  }
  @include media-max($sm-break) {
    margin-bottom: 70px;
  }
}

.teamContainer{
  @include media-max($xs-break) {
    flex-direction: column;
  }
}
.taskContainer {
  @include media-max($xs-break) {
    flex-direction: column-reverse;
  }
}
.teamContainer,
.taskContainer{
  display: flex;
  justify-content: space-between;

  @include media-max($xs-break) {
    margin-bottom: 20px;
  }
}


.textContent {
  padding: 150px 0;
  width: 40%;

  @include media-max($lg-break) {
    padding: 100px 0;
  }
  @include media-max($sm-break) {
    padding: 50px 0;
  }
  @include media-max($xs-break) {
    padding: 50px 0;
    width: 100%;
  }
}

.teamBg,
.taskBg,
.scheduleBg{
  width: 50%;

  @include media-max($xs-break) {
    width: 100%;
  }
}
.teamBg{
  background: url("../../public/images/description/teamworkBg.png") no-repeat center right;
  background-size: contain;

  @include media-max($xs-break) {
    min-height: 500px;
  }
}

.taskBg {
  background: url("../../public/images/description/taskBg.png") no-repeat center left;
  background-size: 500px;

  @include media-max($md-break) {
    background-size: 400px;
  }
  @include media-max($xs-break) {
    background-size: contain;
    min-height: 400px;
  }
}

.scheduleBg {
  background: url("../../public/images/description/scheduleBg.png") no-repeat center right;
  background-size: 500px;

  @include media-max($md-break) {
    background-size: 400px;
  }
  @include media-max($xs-break) {
    background-size: contain;
    min-height: 400px;
  }
}

.mb {
  margin-bottom: 30px;

  @include media-max($xs-break) {
    margin-bottom: 15px;
  }
}

.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 40px;

  @include media-max($xs-break) {
    font-size: 15px;
  }
}

.btn {
  display: flex;

  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #4DA0FD;
    border-bottom: 1px solid #4DA0FD;
  }
}