@import 'mixins';
@import 'settings';

.background {
  background: rgba(245, 247, 250, 1);
}

.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  span {
    font-size: 18px;
    line-height: 29px;
    color: rgba(109, 125, 139, 1);
  }

  @include media-max($md-break) {
    margin-top: 50px;
  }
}

.posts {
  display: flex;
  row-gap: 65px;
  column-gap: 33px;
  flex-wrap: wrap;
  padding: 65px 0 40px;
}

.postCardContainer {
  flex: 1 1 363px;
  background: #FFFFFF;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &:hover{
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
}

.postPhoto {
  height: 147px;
  background: no-repeat top;
  background-size: cover;

  @include media-max($sm-break) {
    height: 220px;
  }
  @include media-max($l-break) {
    height: 150px;
  }
}

.info {
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(37, 49, 60, 1);
  margin-bottom: 25px;
}

.text {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.authorInfo {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 20px;
  padding: 40px 35px 24px 35px;

  span {
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    line-height: 150.6%;
  }
}

.line {
  margin: 0 14px;
}